// Main Content (main element)

@use '../base/typography';

main {
    width: 95%;
    max-width: 1200px;

    margin: 0 auto;

    @extend %main-typography;
}

.button {
    @extend %button-typography;
}
#change-code-td {
    display: none;
}
.table-frame {
    max-width: 600px;
}

.control-layout {
    display: flex;
    flex-direction: column;

    button {
        max-width: 6rem;
    }
}

.input {
    background-color: white;
}

.row {
    background-color: blue;
}

.selected {
    background-color: green !important;
}

.conflict {
    background-color: red !important;
}