// Main Content (main element)

@use '../base/typography';

main {
    width: 95%;
    max-width: 1200px;

    margin: 0 auto;

    @extend %main-typography;
}

.table-frame {
    max-width: 600px;
}

.control-layout {
    display: flex;
    flex-direction: column;

    button {
        max-width: 6rem;

        @extend %button-typography;
    }
}